.section--no-padding-top {
  padding-top: 0;
}

.doing {
  display: flex;
  // margin-top: 50px;
}

.doing__item {
  /* width: 370px; */
  /* height: 294px; */
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color_second);

  margin-bottom: 50px;
}

.doing__box {
  position: relative;
}

.doing__text {
  position: absolute;

  left: 0;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  /* text-align: center; */
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--coolor_title);

  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 100%;

  /* padding: 27px 82px; */

  transform: translateY(-70px);
  display: flex;
  justify-content: center;
  align-items: center;
}
